html
  head
    script(src="lib/cornerstone.js")
    script(src="lib/coffee-script.js")
    script(src="lib/jquery-1.10.2.min.js")
    script(src="build/web.js")
  body
    textarea
      :verbatim
        Choose a ticket class:
        select
          - on "change", @chosenTicket
          - each @tickets, ->
            option= @name

        button Clear
          - on "click", @resetTicket

        - with @chosenTicket, ->
          p
            - if @price
              You have chosen
              b= @name
              span
                $#{@price}
            - else
              No ticket chosen
